@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "plus-jakarta-sans";
		font-weight: 400;
		font-style: normal;
		src: url("/fonts/Plus-Jakarta/PlusJakartaSans-Regular.woff2") format("woff2");
	}
	@font-face {
		font-family: "plus-jakarta-sans";
		font-weight: 500;
		font-style: normal;
		src: url("/fonts/Plus-Jakarta/PlusJakartaSans-Medium.woff2") format("woff2");
	}
	@font-face {
		font-family: "plus-jakarta-sans";
		font-weight: 600;
		font-style: normal;
		src: url("/fonts/Plus-Jakarta/PlusJakartaSans-SemiBold.woff2") format("woff2");
	}
	@font-face {
		font-family: "plus-jakarta-sans";
		font-weight: 700;
		font-style: normal;
		src: url("/fonts/Plus-Jakarta/PlusJakartaSans-Bold.woff2") format("woff2");
	}
}
